.Color {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: black 0 0 15px;
}

/* styling anchor tag 'a' in <Link> */
.Color a {
    color: white;
}